footer {
    background-color:#e9a209 ;
}

#footer_itens {
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 24px 8%;
    align-items: center;
}

#copyright {
    color: #402a1d;
    font-weight: 500;
}

@media screen and (max-width:600px) {
    #footer_itens {
        flex-direction: column;
        gap: 20px;
    }
}